.auth-wrapper {
  background-color: #285943;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-info {
  background-color: #77af9c;
  width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-info button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  width: 150px;
  color: white;
}
.auth-info button:focus {
  outline: none;
}
.auth-component {
  background-color: white;
  padding: 100px;
}

.button {
  color: white;
  background-color: #77af9c;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

input:focus {
  outline: none;
}
@media (min-width: 1025px) {
  .auth-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .auth-info {
    background-color: #77af9c;
    width: 0;
    height: 0;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .auth-component {
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .auth-wrapper {
    height: 92vh;
  }
}
