.menu {
  margin: 0 30px 0 0;
}
.menu a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  line-height: 70px;
  clear: right;
}
.hamburger {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: white;
}

#toggle {
  display: none;
}

.nav-bar {
  position: relative;
  text-align: right;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #eaeaeb;
  background-color: #285943;
}
.logo {
  margin-left: 20px;
  float: left;
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
hover {
  margin-left: 20px;
  float: left;
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 500px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .menu {
    background-color: rgba(49, 109, 88, 1);
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #09d3ac;
  }

  .form {
    max-width: 50vw;
    margin: 0 auto;
  }

  button {
    margin: 1px;
  }

  button:focus {
    outline: none;
  }

  .projects-container {
    display: flex;
    padding: 5vh 5vw;
  }

  .projects-container > * {
    flex: 1;
  }

  .profile-pic-nav {
    border-radius: 50px;
    margin-right: 10px;
    border: 1px solid white;
  }

  .chatPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .form {
    max-width: 50vw;
    margin: 0 auto;
  }

  button {
    margin: 1px;
  }

  button:focus {
    outline: none;
  }

  .projects-container {
    display: flex;
    padding: 5vh 5vw;
  }

  .projects-container > * {
    flex: 1;
  }

  .profile-pic-nav {
    border-radius: 50px;
    margin-right: 10px;
    border: 1px solid white;
  }

  .chatPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
