body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 251, 251);
}

*:focus {
  outline: none;
}
.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-field {
  border-radius: 20px;
  padding: 17px;
  padding-left: 55px;
  width: 300px;
  border: 1px solid #f5f5f5;
  font-size: 13px;
  color: gray;
  background-image: url("./assets/searchDark.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  outline: 0;
}

.landing-container {
  text-align: center;
  color: white;
  width: 100vw;
  height: 70vh;
  /* background-image: url("./assets/landing.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
  background-color: #285943;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  height: 48px;
  width: 164px;
  cursor: pointer;
  background: none white;
  border: 1px none #285943;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  transition: background 200ms ease-in-out 0s;
  padding: 5px;
}

.start-button:focus {
  outline: none;
}

.landing-content {
  background-color: #6c9e8793;
  padding: 100px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.landing-content h1 {
  color: #285943;
  font-weight: bolder;
}

.landing-content ul li {
  padding: 10px 0;
}

.white {
  /* height: 30vh; */
  width: 100vw;
  background-color: #e8e8e8;
}
.landing-container div {
  margin-top: 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-user-container div img {
  border-radius: 100px;
}

@media (min-width: 1025px) {
  .landing-container h1 {
    font-size: 5em;
  }
  .landing-container p {
    width: 600px;
  }
  .flex-user-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  .flex-user-container div {
    width: 300px;
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .landing-container div {
    width: 350px;
  }
  .landing-container h1 {
    font-size: 3em;
  }

  .flex-user-container div a div {
    display: flex;
    align-items: center;
  }
  /* .flex-user-container > div > a {
    z-index: -1;
  } */

  .flex-user-container > div {
    margin-top: 10px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 15px;
  }
  .flex-user-container div img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .home-container {
    margin-top: 50px;
    text-align: center;
  }
}
