.profile-banner {
  background-color: #285943;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.profile-message {
  display: flex;
  width: 100vw;
  /* justify-content: space-evenly; */
  margin-left: 25%;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}
.profile-message h3 {
  margin-right: 80%;
}

.profile-message button {
  border-radius: 15px;
  padding: 0 15px;
}
.button-wrapper {
  /* width: 100px; */
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.view-button {
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: none;
}
.view-button:focus {
  border: 2px solid gray;
  box-shadow: 1px -1px 15px 5px rgba(0, 0, 0, 0.11);
  outline: none;
}

.button-active:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.profile-wrapper {
  display: block;
  margin-left: 25%;
}

.profile-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.profile-info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 20px;
  box-shadow: 3px -4px 10px 5px rgba(0, 0, 0, 0.11);
  background-color: #77af9c;
  width: 300px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 100px;
}

.profile-info img {
  position: relative;
  /* width: 15%; */
  margin-bottom: 20px;
}

.profile-info button {
  border-radius: 20px;
  background-color: white;
  color: black;
  width: 200px;
  padding: 10px;

  margin-bottom: 20px;
}

.profile-info button:focus {
  outline: none;
}

.profile-info button:hover {
  background-color: white;
}
.about {
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.418);
}
.about h3 {
  font-weight: bold;
}
.gift-num {
  color: white;
  margin: 10px;
  background-color: #77af9c;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.wishlist-name {
  /* margin-top: 100px; */
}

.wishlist-card {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(101, 119, 138, 0.15);
  box-shadow: 0 1px 4px 0 rgba(101, 119, 138, 0.15);
  position: relative;
  width: 60%;
  height: 100px;
  margin-right: 2.33333%;
  margin-bottom: 1.65rem;
}

.wishlist-card:hover {
  background-color: whitesmoke;
}

.create-card {
  height: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.component-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(251, 251, 251);
}

.detail-card:hover {
  cursor: pointer;
}

.gift-card {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(101, 119, 138, 0.15);
  box-shadow: 0 1px 4px 0 rgba(101, 119, 138, 0.15);
  position: relative;
  /* width: 20%;
  height: 130px; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  margin-right: 2.33333%;
  margin-bottom: 1.65rem;
}

.gift-img {
  border-radius: 100px;
}

.flex-add-gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-add-gift:focus {
  outline: none;
}

.popup {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  padding: 50px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.back {
  float: left;
  margin-top: 20px;
}

.pointer:hover {
  cursor: pointer;
}
