.users {
  border-right: 2px solid gainsboro;
  height: 100vh;
  padding: 5px;

  /* background-color: #285943; */
}

.users h2 {
  font-weight: bold;
  display: flex;
  padding: 10px;
  margin-bottom: 40px;
}
.message h5 {
  font-weight: 200;
  display: flex;
  color: black;
}
.users img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-size: contain;
}

.img-container {
  margin-right: 10px;
  width: 70px;
  height: 70px;
}

.users a {
  /* border-radi  us: 15px; */
  padding: 10px;
  margin-bottom: 2px;
  display: flex;
  border-bottom: 1px solid gainsboro;
}

.users a:hover {
  background-color: gainsboro;
  color: #285943;
  text-decoration: none;
}

.message:hover {
  text-decoration: none !important;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lastMessages {
  color: gray;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}

.chatContainer {
  height: 100vh;
  flex: 1;
}

.rightSide {
  margin-right: 50px;
  text-align: right;
  position: relative;
}

.rightSide p {
  background-color: #285943;
  color: white;
}
.rightSide:before {
  content: "";
  position: absolute;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent;
  top: 7px;
  right: 0;
  transform: rotate(90deg);
}
.leftSide {
  margin-left: 50px;

  text-align: left;
  position: relative;
}

.leftSide p {
  background-color: rgba(0, 0, 0, 0.05);
}
.leftSide:before {
  content: "";
  position: absolute;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent;
  top: 7px;
  transform: rotate(-90deg);
}
.main {
  /* border: 2px solid #285943; */
  height: 100vh;
  width: 75vw;
  background-color: rgba(0, 0, 0, 0.02);
}

.user-list {
  width: 25vw;
}
.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 0;
}
.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: scroll;
  height: 80vh;
  padding-bottom: 10px;
}
.chat-bubble p {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px 12px;
  border-radius: 4px 0 4px 4px;
}
small {
  display: block;
  margin: 0 15px 8px 15px;
  font-size: 0.6rem;
}

.form {
  display: flex;
  justify-content: space-between;
}
textarea {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  height: 40px;
  width: 700px;
}

textarea:focus {
  outline: none;
}

.sendButton {
  background-color: #285943;
  color: white;
  border-radius: 18px;
  padding: 0 10px;
}
.sendButton:hover {
  /* background-color: #77af9c; */
}

.chat-form {
  justify-content: center;
  display: flex;
}
